---
import {PROJECTS} from './../helpers/projects'
import GitHubIcon from '../icons/GitHub.astro';
import DemoIcon from '../icons/Demo.astro';
import SocialPill from './SocialPill.astro';
---

<!-- <section class="grid grid-cols-auto-fill-300 gap-20 px-5"> -->
 <section class="px-5 flex flex-col gap-16">
  {
    PROJECTS.map(({ title, description, link, github, image, tags }) => (
      <article class="flex flex-col">
        <h3 class="text-2xl font-semibold text-yellow-200 mb-4">{title}</h3>
         <p set:html={description}></p>

        <a
          class="relative group rounded flex justify-center w-full overflow-hidden max-w-[600px] mx-auto mt-8"
          href={link}
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="w-full h-auto rounded shadow-2xl shadow-white/10 group-hover:scale-110 transition duration-500 object-cover"
            src={image}
            alt={`Captura de pantalla del proyecto ${image}`}
          />
          <div class="absolute bg-black w-full h-full opacity-0 transition-opacity duration-500 group-hover:opacity-10" />
        </a>
        <p class="mt-8"><span class="font-semibold text-yellow-200">Tecnologías utilizadas: </span>
          {tags.map((tag, index) => (
            <span>{tag.name}{index < tags.length - 1 ? ', ' : ''}</span>
          ))}
        </p>
        {/* <ul class="flex flex-wrap gap-2 flex-row my-4">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-0 px-2`}
              >
                <tag.icon class="size-6" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul> */}

        <div class="flex gap-8 justify-end mt-8">
          <SocialPill href={github}>
            <GitHubIcon class="size-5" />
            Repositorio
          </SocialPill>
          <SocialPill href={link}>
            <DemoIcon class="size-5" />
            Demo
          </SocialPill>
        </div>
      </article>
    ))
  }
</section>

<style>
details {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

details[open] summary::after {
    content: "▲";
    float: right;
}

summary::after {
    content: "▼";
    float: right;
}

details p {
    margin: 10px 0 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
}
</style>